{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6" align="justify">
                <h1>About Us</h1>
                <h2>
                    Who are you?
                </h2>
                <p>
                    We're a couple hackers who wanted to make it easy to compare hospitals based on a couple
                    simple benchmarks.
                </p>
                <h2>
                    Aren't all hospitals the same?
                </h2>
                <p>
                    No. Not even close. There are countless studies about how you're ten times as likely to survive
                    surgery at one hospital versus another, and how medical staff are often scared to receive surgery at
                    the hospital they work at because they see what goes on there. But statistics are boring. John
                    Oliver can explain, in much more vivid detail, one particularly egregious problem.
                </p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YQZ2UeOTO3I" frameborder="0" allowfullscreen></iframe>
                <h2>
                    Where does this data come from?
                </h2>
                <p>
                    US government open data sets. Thanks Obama! Hospitals have their own data that is much more
                    accurate than the data we use for this website but they keep it tightly under wraps because
                    this somehow isn't illegal. Meanwhile, most hospital and doctor rating systems <i>[cough]</i>
                    US News & World Report <i>[cough]</i> are based off of surveys instead of patient outcomes. In other
                    words, it doesn't matter whether your patients survive the surgery they perform; what matters
                    is the doctors' bedside manner in informing your relatives of your untimely death from an
                    unnecessary surgery.
                </p>
                <h2>
                    What algorithm do you use?
                </h2>
                <p>
                    Out algorithm is still under development. We will publish it as soon as we can. The "Safety" score
                    is based off of objective patient outcomes, such as survival rate. The "Comfort" score is based on
                    subjective patient reviews. As you can see they don't often agree. In the meantime, if you're a
                    specialist in the field and would like to provide input, please
                    <a href="{% url 'contact' %}">get in touch</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}