{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6" align="justify">
                <h1>Disclaimer</h1>
                <p>
                    (1) <b> OUR ALGORITHM IS STILL UNDER DEVELOPMENT.</b>
                </p>
                <p>
                    (2) Even if it wasn't, <b> THIS WEBSITE DOES NOT PROVIDE MEDICAL ADVICE</b>. We are neither
                    doctors, nor medical experts. We don't even have any medical training. This website is
                    for <b>ENTERTAINMENT PURPOSES ONLY</b>. Our algorithm is a little better than those
                    college ranking systems you read about. If you want medical advice,
                    do your own research, then ask your doctor, then do some more research. All data
                    is provided <b>AS IS</b> without any expressed or implied warranties including the
                    implied fitness for any particular non-entertainment purpose.
                </p>
            </div>
        </div>
    </div>
{% endblock %}