{#{% extends 'base.html' %}#}
{##}
{#{% block body %}#}
{##}
{#{% endblock %}#}


{% load static %}
<!DOCTYPE html>

<html>

  <head> 
    <title>Google Maps JavaScript API v3 Example: Map Geolocation</title> 
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"> 
    <meta charset="UTF-8"> 
    <link href="{% static 'map.css' %}" rel="stylesheet" type="text/css">
<!--
Include the maps javascript with sensor=true because this code is using a
sensor (a GPS locator) to determine the user's location.
See: http://code.google.com/apis/maps/documentation/javascript/basics.html#SpecifyingSensor
--> 
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 

<script type="text/javascript"
    src="{% static 'js/location_template.js' %}"></script>
  </head> 
  <body> 
    <div id="map_canvas"></div> 
  </body>

</html>