{% extends 'base.html' %}

{% block body %}

    {% if results %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <table class="ui-hospital-results">
                        <tr class="ui-hospital-headers">
                            <td></td>
                            <td>Name</td>
                            <td>Safety</td>
                            <td>Comfort</td>
                            <td>Price</td>
                        </tr>
                        {% for hospital in results %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                <a href="{% url 'hospital' id=hospital.id %}">{{ hospital.name.title }}</a>
                            </td>
                            <td>
                                {% if hospital.quality %}
                                    {{ hospital.round_quality }}
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                            <td>
                                {% if hospital.atmosphere %}
                                    {{ hospital.round_atmosphere }}
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                            <td>
                                {% if hospital.price%}
                                    {{ hospital.round_price }}
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-sm-6 text-center" id="map_canvas" city="{{ selected_city }}" state="{{ selected_state }}"></div>
            </div>
        </div>
    {% endif %}
{#            <div id="map_canvas"></div>#}


{% endblock %}