.ui-nav-container {
    background-color: #42A6ED;
    height: 60px;
    margin: 0;
}

body{
    padding-top: 80px;
}

form {
    display: inline;
}

.form-control {
    display: inline;
    /*margin-top: 55px;*/
}

#map_canvas {
  margin-top: 50px;
  height: 600px;
  width: 50%;
}

.ui-logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
}


.ui-logo:link{
    color: white;
    text-decoration: none;
    font-weight: bold
}


.search-bar{
    color: white;
    margin-left: 15px;
}

.navbar-default .navbar-nav>li>a{
    color: white;
}

.ui-hospital-results{
    width: 90%;
    margin-top: 50px;
    float: left;
    padding: 0;
}

.ui-hospital-headers{
    font-size: 18px;
    text-decoration: underline;
}

.ui-contact-label{
    font-size: 18px;
    margin-left: 15%;
}

.form-control{
    width: 40%;
    margin-bottom: 25px;
}

.ui-contact-button{
    margin-left: 46%;
    font-size: 18px;
}

.ui-contact{
    text-align: center;
    margin-bottom: 25px;
}